.table-container {
  position: relative;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.no-data {
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

tr.element-row:not(.expanded-row):hover {
  cursor: pointer;
  background-color: rgba($color: #808080, $alpha: 0.3);
}

tr.element-row:not(.expanded-row):active {
  background-color: rgba($color: #808080, $alpha: 0.8);
}

tr.detail-row {
  height: 0;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.details-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 15px;
  padding: 10px 0px;
}

.detail {
  display: flex;
  flex-flow: column;
  justify-items: center;

  &:not(:first-child) {
    padding-left: 15px;
    border-left: 1px solid grey;
  }

  span:first-child {
    font-weight: 500;
  }
}
